# Laravel
/vendor
/node_modules
.env
.env.*

# Storage (runtime files)
/storage
/storage/*
/storage/**
/storage/app
/storage/framework
/storage/framework/*
/storage/framework/views
/storage/framework/views/*
/storage/framework/cache
/storage/framework/cache/*
/storage/framework/sessions
/storage/framework/sessions/*
/storage/logs
